@import url('root.css');

#blockerBanner {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--bg-color) !important;
    z-index: 2147483647 !important;
    display: block !important;
}

html, body {
    overflow: hidden !important;
}